<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-loadingspinner" version="0.0.1">
    <name>LoadingSpinner</name>
    <description>Cordova Simple Loading Spinner</description>
    <license>Apache 2.0</license>
    <keywords>cordova,spinner,loading</keywords>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="LoadingSpinner">
                <param name="ios-package" value="LoadingSpinner"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/LoadingSpinner.h" />
        <source-file src="src/ios/LoadingSpinner.m" />
    </platform>
</plugin>